body {
    background-color: rgba(124, 240, 195, 0.541);
}

h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(#e106d0, #08a4af, #885903);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5%;
}

h3 {
    font-size: 30px;
    background: -webkit-linear-gradient(#885903, #e106d0, #08a4af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5%;
}
.gardelis {
    display: flexbox;
    background-color: rgba(73, 148, 119, 0.918);
    color: oldlace;
    width: 300px;
    height: 130px;
    align-self: center;
    border: 9px double rebeccapurple;
    margin: 10px;
}

a.chg-btn {
    border: 1px solid;
    text-decoration: none;
    float: left;
    background-color: #1400cc;
    border: 1px solid #660000;
    border-radius: 5px;
    color: #fff;
    margin: 10px;
    padding: 9px;
}

button.del-btn {
    border: 1px solid;
    text-decoration: none;
    float: left;
    background-color: #cc0000;
    border: 1px solid #660000;
    border-radius: 5px;
    color: #fff;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

button.go-btn {
    border: 1px solid;
    text-decoration: none;
    float: left;
    background-image: linear-gradient(to bottom right, red, darkolivegreen, darkslateblue);
    border: 1px solid #ccf1fa;
    border-radius: 5px;
    color: #fff;
    margin: 10px;
    padding: 10px;
}

/* a.add-btn {
    width: 150px;
    border: 1px solid;
    text-decoration: none;
    float: left;
    background-color: #138d23;
    border: 1px solid #660000;
    border-radius: 5px;
    color: #fff;
    margin: 10px 0px 10px 60px;
    padding: 10px 0px 10px 50px;
} */

footer {
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    background-image: linear-gradient(to bottom right, red, darkolivegreen, darkslateblue);
    color: whitesmoke ;
    text-align: center;
}

.alert-success {
    display: flex;
    background-color: lightgreen;
    padding: 10px;
}

.alert-deleted {
    color: white;
    background-color: red;
    display: flex;
    padding: 10px;
}

nav{
    margin: 20px 0 0 20px;
}

nav > a {
    background-color: royalblue;
    color: white;
    text-decoration: none;
    border: 1px solid rebeccapurple;
    padding: 10px;
}

.srt-menu {
    margin: 20px 0 0 20px;
    padding-top: 20px;
    list-style: none;
}
.srt-btn {
    background-color: rgb(8, 28, 89);
    color: white;
    text-decoration: none;
    border: 1px solid rebeccapurple;
    padding: 5px;
    border-radius: 15px;
}